fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
sqlmodel>=0.0.25
sqlalchemy>=2.0.43
python-jose[cryptography]>=3.5.0
passlib[bcrypt]>=1.7.4
PyJWT>=2.10.1
pytest-workflow>=2.1.0
python-multipart>=0.0.20
pip install psycopg2
